body {
    text-align:center;
background-color:darkgrey;
    font-size:20px;
}
.section-style {
border-image-width: auto;
width:50%;
}
image-section {
width:50%;
}
img {
    width:50%;
}
